
		
<h2><%= @play.title %> </h2>
<h2><%= @play.director %></h2>
<p><%= @play.description %></p>


<div class="links btn-group">
	<% if user_signed_in? %>
		<% if @play.user_id == current_id %>	
			<%= link_to "New Play", new_play_path %>
			<%= link_to "Back", root_path %>
			<%= link_to "Edit", edit_play_path(@play) %>
			<%= link_to "Delete", play_path(@play), method: :delete, data: { confirm: "Are you sure?"} %>
		<% end -%>
	<% end -%>
</div>
